@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500&display=swap');

  :root {
    --primary-color: #0d1013;
    --background-color: #ffffff;
    --highlight-color: #ff0000;
}

html {
    /* height: 100%; */
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    flex-shrink: 0;
    color: var(--primary-color);
    background-image: url("./assets/sail.jpg");
    background-size: 2000px auto;
    background-repeat: no-repeat;
    font-family: "IBM Plex Mono", Helvetica, Arial, sans-serif;
    flex: 0;
    flex-direction: column;
    justify-content: space-between;
}

ul.links {
    list-style: none;
    padding-left: 0;
}

a {
    color: var(--primary-color);
}

a:hover {
    background: linear-gradient(to top, var(--highlight-color) 50%, transparent 50%);
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width:90%;
    padding: 50px;
    background-color: var(--background-color);
    border-color: var(--primary-color);
    border-width: 3px;
    border-style: solid;
    box-shadow: 12px 12px 0px 1px var(--primary-color); 
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 56px;
    font-weight: 500;
    white-space: nowrap
}

.position {
    font-size: 24px;
    width: fit-content;
    font-weight: 500;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}

.bioParagraph {
    width: 75%;
}

.experiences {
    margin-top: 20px;
    list-style: square;
    padding-left: 3%;
}

.company {
    text-decoration: none;
    font-weight: 500;
}